      <header id="headerBar">
        <div class="intac clearfix">
          <div class="header-left">
            <a href="<%= index_url %>"> Green<span>Fish</span> </a>
          </div>
          <!-- end header left-->
          <div class="navbar-header">
            <a href="#" class="navbar-toggle"><span></span></a>
          </div>
          <%= render partial: 'partials/header_right' %>
        </div>
        <!--End headeWrap -->
      </header>
      <!--EndHeader -->