      <div id="sub-header" class="clearfix">
        <div class="subInner">
          <ul id="submenu">
          <% @categories.each do |category| %>

            <li><%= link_to category.name , controller: 'home' , action: 'show' , category: category.name %><li>

          <% end %>

          </ul>
        </div>
      </div>
      <!--Endsub-header-->