        <aside id="sidebar" class="clearfix">
          <div class="sidebar-holder">
            <!-- End Newslater -->

          <%= render partial: 'partials/home/sidebar_recent' %>

          </div>
        </aside>
        <!-- EndSideBar-->