            <div class="sidebar-box">
              <div class="sidebar-title">Recent post</div>
              <ul>

                  <% @recent_post.each do |recent| %>
                  <li>
                    <div class="thumb-det">
                      <a href="#" class="thumb-title"><%= truncate(recent.title , length:25) %></a>
                    </div>
                    <i><%= recent.created_at.strftime("%B %d, %Y - %H:%M:%S") %></i>
                    <span class="clearfix"></span>
                    <p><%= truncate(recent.content.body , length: 180) %></p>
                  </li>
                <% end %>

              </ul>
            </div>
            <!-- End sidebarBox --> 